body {
  background-color: #f3f3f3;
  font-family: Arial, sans-serif;
}

.container {
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  /* box-shadow: 0px 0px 5px #666; */
  padding: 20px;
  margin-top: 50px;
  padding-bottom: 45px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}

.btn-submit {
  display: flex;
  justify-content: center;
}

input[type="submit"] {
  margin-bottom: 10px;
  width: 200px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border-radius: px;
  border: 1px solid #ccc;
  min-width: 250px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

input:focus {
  outline-color: #4caf50;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.icon {
  padding-top: 10px;
  padding-right: 10px;
  /* background: dodgerblue; */
  color: black;
  min-width: 20px;
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
}

.error {
  display: flex;
  justify-content: center;
}

#errorMessage {
  display: none;
  color: red;
  font-size: 14px;
}

.spin {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HTML: <div class="loader"></div> */
#spinner {
  display: none;
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
